:root {
  --default_dark: #0a1019;
  --default_medium: #14202b;
  --default_light: #263b50;


  --primary_dark: #01080e;
  --primary_medium: #011627;
  --primary_light: #011221;


  --secondary_gray: #607B96;
  --secondary_cyan: #3c9d93;
  --secondary_deep_blue: #4d5bce;
  --secondary_white: #ffffff;
  --transparent_white: rgba(255, 255, 255, 0.5);


  --accent_orange: #ff9f56;
  --accent_orange_light: #ffac6b;
  --accent_turquoise: #43d9ad;
  --accent_pink: #e99287;
  --accent_purple: #c98bdf;

  --lines: #1e2d3d;
  --gradient_color_1: #4d5bce;
  --gradient_color_2: #43d9ad;


  --tab-height: 30px;

  font-family: Hack, monospace;
  font-size: 12px;
  color: var(--secondary_white);
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
}

div .header-background {
  background-color: #010c15;

  height: calc(100vh - 50px);

  overflow: hidden;
  padding: 25px 25px 25px 25px;

}

div .main-background {
  border-radius: 0.5em;
  background-color: #011627;
  border: 1px solid var(--lines);
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  position:relative;
  overflow: hidden;
}

h1 {
  font-weight: 300;
  font-size: 62px;
}

h2 {
  font-weight: 400;
  font-size: 32px;
}

p {
  font-weight: 400;
  font-size: 18px;
}

/* div with elements spaced apart*/

.primary_button {
  background-color: var(--accent_orange);
  color: var(--primary_dark);
  border: none;
  border-radius: 0.5em;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.primary_button:hover {
  background-color: var(--accent_orange_light);
}

.default_button {
  background-color: var(--default_medium);
  color: var(--secondary_white);
  border: none;
  border-radius: 0.5em;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.default_button:hover {
  background-color: var(--default_light);
}

.ghost_button {
  background-color: transparent;
  color: var(--secondary_white);
  border: 1px solid var(--secondary_white);
  border-radius: 0.5em;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.ghost_button:hover {
  border: 1px solid var(--transparent_white);
}


/*
  Refactor for cleaner code: Section 1
  navigation bar and footer bar styles
*/
.navbar {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0 0;
  border-bottom: 1px solid var(--lines);
  justify-content: space-between;
}

.name_nav {
  color: var(--secondary_gray);
  text-decoration: none;
  width: auto;
  white-space: nowrap;
  text-align: left;
  padding: 10px 20px;
  padding-right: 145px;
}

.name_nav:hover {

  background-color: #1e2d3d74;

  border-top-left-radius: 0.40em;
}


.link_nav {
  color: var(--secondary_gray);
  text-decoration: none;

  border-left: 1px solid var(--lines);
  width: auto;
  white-space: nowrap;
  padding: 10px 18px;
}

.active_link_nav {
  border-bottom: var(--accent_orange) 2px solid;
}

div.spacer {
  width: 100vw;
  border-left: 1px solid var(--lines);
}

.link_nav:hover {
  color: var(--accent_orange);
  background-color: #1e2d3d74;
}


.contact_nav {
  color: var(--secondary_gray);
  text-decoration: none;
  width: 220px;
  border-left: 1px solid var(--lines);
  text-align: left;
  padding: 10px 20px;
  white-space: nowrap;
}

.contact_nav:hover {
  color: var(--accent_orange);
  background-color: #1e2d3d74;
  border-top-right-radius: .40em;
}


.footer {
  border-top: 1px solid var(--lines);
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0 0;
  position: absolute;
  bottom: 0;
  width: 100%;

}


div.footer_spacer {
  width:100%;
  border-left: 1px solid var(--lines);
}

.link_footer:hover {
  background-color: #1e2d3d74;
}

.link_footer:hover path {
  fill: var(--accent_orange);
}

span.footer_text {
  color: var(--secondary_gray);
  text-decoration: none;
  width: auto;
  white-space: nowrap;
  text-align: center;
  justify-content: center;
  padding: 15px 20px;


}

.footer_linkedIn{
  color: var(--secondary_gray);
  text-decoration: none;

  border-left: 1px solid var(--lines);
  width: auto;
  white-space: nowrap;
  padding: 10px 20px;
}
.footer_github{
  color: var(--secondary_gray);
  text-decoration: none;
  width: auto;
  white-space: nowrap;
  border-left: 1px solid var(--lines);
  text-align: right;
  justify-content: center;
  padding: 5px 20px;
}


/* end of refactor section 1*/








/* homebasic should stretch down to footer */
.homebasic {
  display: flex;
  line-height: 24px;
  padding: 0px 0px 0px 275px;

}

.css-blurry-gradient-blue,
.css-blurry-gradient-green {
  filter: blur(70px);
  height: 300px;
  opacity: .5;
  width: 350px;
  z-index: 10;
}

.css-blurry-gradient-blue+.css-blurry-gradient-green {}

.css-blurry-gradient-blue:hover .css-blurry-gradient-green:hover {
  pointer-events: none;
}

.css-blurry-gradient-blue {
  background: radial-gradient(circle at 50% 50%, #4d5bce, rgba(76, 0, 255, 0));
  border-radius: 0 0 50% 50%;
  bottom: 25%;
  position: fixed;
  right: 15%;
  rotate: 10deg;
}

.css-blurry-gradient-green {
  background: radial-gradient(circle at 50% 50%, #43d9ad, rgba(76, 0, 255, 0));
  border-radius: 0 50%;
  position: absolute;
  right: 40%;
  top: 20%;
}

.home-text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 24px;
}

.head {}

.about-page {
  display: flex;
  flex-direction: row;
}

.gradient-blue {
  color: var(--gradient_color_1);
}

.about-page_main_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 24px;
  padding: 0px 0px 0px 0px;
}

.about-page_info_menu {

  line-height: 24px;
  padding: 0px 0px 0px 0px;
  width: 50px;
  border-right: 1px solid var(--lines);
}

#icon {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  fill: var(--default_light);
}

#icon_active{
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  fill: var(--secondary_gray);
}

.logo_link,
svg,
path {
  cursor: pointer;
}

.about-page_info_submenu{
  width: 194px
}


.submenu-info{
  font-size: x-small;
  height: var(--tab-height);
  border-bottom: 1px solid var(--lines);
  display: flex;
  cursor: pointer;
  justify-content: start;
  align-items: center;
  width: auto;
  padding: 0px 10px 0px 10px;
  border-right: 1px solid var(--lines);
}

.submenu-info-items{
  font-size: x-small;
  height: var(--tab-height);

  border-right: 1px solid var(--lines);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0px 10px;
  align-items: start;
  width: auto;
  height: auto;

}

.submenu-contact{
  font-size: x-small;
  height: var(--tab-height);
  border-bottom: 1px solid var(--lines);
  display: flex;
  cursor: pointer;
  justify-content: start;
  align-items: center;
  width: auto;
  padding: 0px 10px 0px 10px;
  border-top: 1px solid var(--lines);
  border-right: 1px solid var(--lines);
}
.submenu-contact-items{
  font-size: x-small;
  height: var(--tab-height);
  user-select: text;
  border-right: 1px solid var(--lines);

  display: flex;
  flex-direction: column;

  padding: 0px 10px;
  align-items: start;
  width: auto;

}